{{>header}}
    <div class="container text-center mt-5">
        <h1 class="text-dark ubuntu-txt">404</h1>
        <h4 class="roboto-font">OPPS, SORRY WE CAN'T FIND THAT PAGE!</h4>

        <a class="btn btn-danger" href="/">Go To HOME</a>
    </div>

{{>footer}}