
    {{>header}}
    <div class="container-fluid" id="help-con">

    </div>
    <div class="container-fluid text-center ">
                    <h3>Any Query ?</h3>
        <div class="row mt-3">
            <div class="col-md-4">
                <h5>Contact No:</h5>
                <address>7076431876 or,<br />9382667939</address>
                <h5>Email ID:</h5>
                <address>sdas.cse18@chitkarauniversity.edu.in or,<br />soumyadeepdas458@gmail.com</address>
            </div>
                <div class="col-md-8 border-1">
                    <form>
                        <input type="text" placeholder="Ask Your Question Here?" class="float-left form-control"  required="required">
                        <input type="submit" value="Send Us" class="btn btn-info mt-3 float-left" style="clear: left;" data-toggle="modal" data-target="#contact-modal" id="modal-submit-btn" />
                    </form>
                </div>
        </div>
    </div>
        	<div class=" bg-dark text-light mb-0" style="margin:0;height:50px" id="footer">
           
            <h6 class="text-center mt-0">Developed by <span style='font-size:20px;color:red'>&#9829;</span> Gurucharan And Team</h6>
        </div>

    {{>footer}}