{{>header}}
<div class="container-fluid" id="main-box">
    <div class="row" id="rain">
        <div class="col-md-3"></div>
        <div class="col-md-6" id="form-box">
            <form id="search-form" class="mb-5" autocomplete="off">
					<div class="input-group mb-3 mt-5">
						<div class="input-group-prepand">
							<span class="input-group-text bg-danger text-light font-weight-bold border border-danger rounded-0">Search</span>
						</div>
				    	<input type="search" name="address" class="form-control border border-left-0 border-danger" id="search-location" required="required" style="width:400px"   />
					</div>
                    <button type="submit" class="btn btn-info text-light  float-right">Search Now
                        <i class="fa fa-search" style="font-size: 20px;"></i>
                    </button>
                </form>
                <p id="load"></p>
                <div class="alert border text-weight-bold d-none" id="alert-box" style="margin-top:80px;" role="alert">
                    <p id="result"></p>
                    <p id="result2"></p>
                    <i class="fa fa-times float-right icon" style="cursor: pointer;" data-dismiss="alert"></i>
                </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

    	<div class=" bg-dark text-light mb-0" style="margin:0;height:50px" id="footer">
           
            <h6 class="text-center mt-0">Developed by <span style='font-size:20px;color:red'>&#9829;</span> Gurucharan</h6>
        </div>
        <!--end contact Us-->
    

    {{>footer}}