{{>header}}
    <div class="container center mt-3" >
        <!--sign up-->
    <div class="dark d-flex align-items-center border-1 border-black">
		<div class="container w-50 h-50" id="main" style="overflow: hidden;">
			<h4>Signup</h4>
			<div class="row animated slideInRight">
				<div class="col-12">
					<div class="tab-content mt-3">
						<div id="resister">
                            <form id="signup-form">
							<div class="input-group mb-3">
                                <div class="input-group-prepand">
                                    <span class="input-group-text bg-info text-light rounded-0">
                                        <i class="fa fa-user" style="font-size:25px"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control border border-info border-left-0"  name="First" placeholder="First Name" id="first-name" required />
                            </div>
							<div class="input-group mb-3">
                                <div class="input-group-prepand">
                                    <span class="input-group-text bg-info text-light rounded-0">
                                        <i class="fa fa-user" style="font-size:25px"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control border border-info border-left-0" name="Last" placeholder="Last Name" id="last-name" required />
                            </div>
							<div class="input-group mb-3">
                                <div class="input-group-prepand">
                                    <span class="input-group-text bg-info text-light rounded-0">
                                        <i class="fa fa-envelope" style="font-size:23px"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control border border-info border-left-0" placeholder="Email Id" id="email" required />
                            </div>
							<div class="input-group mb-3">
                                <div class="input-group-prepand">
                                    <span class="input-group-text bg-info text-light rounded-0">
                                        <i class="fa fa-drivers-license" style="font-size:23px"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control border border-info border-left-0" placeholder="Create Username" id="email" required />
                            </div>
							<div class="input-group mb-3">
                                <div class="input-group-prepand">
                                    <span class="input-group-text bg-info text-light rounded-0">
                                        <i class="fa fa-lock" style="font-size:25px"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control border border-info border-left-0" placeholder="Type Your Password" id="password" required />
                            </div>
							<div class="input-group mb-3">
                                <div class="input-group-prepand">
                                    <span class="input-group-text bg-info text-light rounded-0">
                                        <i class="fa fa-lock" style="font-size:25px"></i>
                                    </span>
                                </div>
                                <input type="password" class="form-control border border-info border-left-0" placeholder="Confirm Password" id="confirm-password" oninput="check_password()" required />
                            </div>
                            <span id="check-pass" style="color:red"></span>
                            <div class="input-group">
                                <input type="checkbox" class="mt-2" />
                                <div class="input-group-append">
                                    <p>I accept Term & Conditions</p><br />
                                </div>
                            </div>
                                <p>Have An Account <a href="/login">Login</a></p>
                            <button class="btn btn-danger float-right" id="signup-btn">Signup</button>
                            </form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
    </div>

    </div>
        	<div class=" bg-dark text-light mb-0" style="margin:0;height:50px" id="footer">
           
            <h6 class="text-center mt-0">Developed by <span style='font-size:20px;color:red'>&#9829;</span> Gurucharan And Team</h6>
        </div>
{{>footer}}